@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display';
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
}

.header .header-top {
  background: url('../images/banner/banner.png') center center / cover no-repeat;
  height: 500px;
  padding: 40px 392px 0;
  display: flex;
}

.header-content {
  display: center;
  position: relative;
}

.header-connect {
  float: left;
}

.header-connect li {
  display: inline-block;
  margin: 0 16px;
  color: white;
}

.header-controls {
  float: right;
  display: flex;
}

.header-user-controls li {
  display: inline-block;
  margin: 0 16px;
}

.header-search-controls {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid black;
}

.header-search-controls i {
  font-size: 12px;
}

.header-search-controls input {
  border: none;
  background: none;
}

.header-search-controls button {
  border: none;
  background: none;
}

.header-bottom {
  background: #2b2b2b no-repeat padding-box;
}

.nav-main ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  white-space: nowrap;
}

.header-bottom .nav-main li {
  color: #e8e8e8;
  text-transform: uppercase;
  padding: 10px 59px 10px 42px;
  font-size: 19px;
}

.footer {
  background: #e8e8e8;
  margin-top: 140px;
  padding: 40px 0;
  display: flex;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-support {
  padding: 40px 75px 50px 67px;
  display: inline-block;
}

.footer-details {
  display: inline-block;
  padding: 40px 75px 50px 67px;
}

.footer-about-us {
  display: inline-block;
  padding: 40px 75px 50px 67px;
}

.footer-connect {
  display: inline-block;

  padding: 66px 45px 50px 67px;
}

.footer .footer-connect button {
  display: block;
}

footer .social-media-icons ul {
  margin-top: 25px;
  width: 88px;
}

.social-media-icons li {
  display: inline;
  line-height: 37px;
}

.social-media-icons li a {
  font-size: 16px;
  line-height: 76px;
}

.footer ul li {
  font-size: 22px;
  line-height: 37px;
}

.home-catalog-preview {
  display: block;
}

.home-catalog-preview h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 35px;
}

.home-catalog-preview .product-tiles {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.home-catalog-preview .product-tile {
  width: 23.672566371;
}



.product-tile-title a {
  font-weight: bold;
  padding-left: 74px;
  font-size: 22px;

}

.product-tile-image-container {
  position: relative;
  padding-bottom: 21px;
}

.home-catalog-preview .product-tile-image-container .product-tile-badge {
  position: absolute;
  top: 21.59px;
  right: 18.83px;
  font-size: 22px;
}

.product-tile-pricing {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 138px;
  padding-right: 139px;
  padding-bottom: 46px;
}

.home-banner-main {
display: flex;
padding-top: 74px;
padding-bottom: 140px;

}

.home-banner-text h1{
  font-size: 44px;
  font-weight: bold;
  padding-left: 139px;
  padding-bottom: 40px;
}

.home-banner-text  p{
  float: flex;
  color: #2B2B2B;
  padding-left: 139px;
  font-family: 'Roboto,Light';
  font-size: 22px;
  text-align: left;
  line-height: 43px;
}


.home-catalog-preview .product-tile-cta {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-top: 60px;
  padding-bottom: 110px;
}

.home-catalog-preview .product-tile-cta button {
  font-size: 22px;
  background: none;
  width: 112px;
  height: 49px;
  border: 1px solid black;

}




